:root{
  --mustard: #E79E49;
}

body, html {
  background: #1F1F1F;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body, h1, h2, h3, p, span {
  cursor: default;
  user-select: none;
}


@font-face {
  font-family: 'SevenSegment';
  src: url('../fonts/SevenSegment.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tablero';
  src: url('../fonts/Swiss 911 Compressed Regular.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Preguntas';
  src: url('../fonts/KorinnaStd-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: 'Preguntas';
}

h2{
  font-family: 'Tablero';
}

.row {
  position: relative;
  width: 100vw;
  height: 88vh;
  margin-top: 2vh;
}

.score-bar{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.score{
  width: 15%;
  height: 100%;
  background-color: black;
  text-align: center;
  align-content: center;
  font-family: 'SevenSegment';
}

@media (max-width: 2928px) { .score {font-size: 5em;} }

@media (max-width: 2496px) { .score {font-size: 4.5em;} }

@media (max-width: 2064px) { .score {font-size: 4em;} }

@media (max-width: 1632px) { .score {font-size: 3.5em;} }

@media (max-width: 1200px) { .score {font-size: 3em;} }

@media (max-width: 768px) { .score {font-size: 2.5em;} }

@media (max-width: 336px) { .score {font-size: 2em;} }

.team-one, .team-two, .team-three {
  border: 2px solid lightgray;
  border-radius: 10px;
}

.team-one {
  color: blue;
  text-shadow: 0 0 15px #1F1FE1;
}

.team-two {
  color: red;
  text-shadow: 0 0 15px #E11F1F;
}

.team-three {
  color: lime;
  text-shadow: 0 0 15px #1FE11F;
}


.card-container {
  position: absolute;
  width: 15vw;
  height: 14vh; 
  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out, top 0.6s ease-in-out, left 0.6s ease-in-out, z-index 0.1s ease-in-out 0.6s; /* El z-index cambia después de la animación */
  transform-origin: center center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card-container.hover {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}


.card-container .card {
  transform: rotateY(0deg);
}

.card-container.hover .card {
  transform: rotateY(180deg);
}

.front, .back {
  background: radial-gradient(circle, #0047FF, #020E7D);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background-color: #aaa;
}

.front.clickable {
  cursor: pointer;
}

.front h2{
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
}

.front h2, .back h2{
  color: white; 
  font-size: 1.5rem;
  text-shadow: 
  2px 2px 0px #000, 
  2px -2px 0px transparent, 
  -2px 2px 0px transparent, 
  2px 2px 0px #000; 
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.front h2{
  letter-spacing: 1px;
}

.front.clickable h2{
  color: var(--mustard);
  font-size: 3.5rem;
}

.answer h2{
  color: var(--mustard) !important;
}

.back h2{
  font-size: 4rem;
  font-family: 'Preguntas';
}

.card-container.disabled .front{
  background-color: #444; 
  color: #333; 
  cursor: default;
}

.card-container.disabled .front h2{
  cursor: default;
  visibility: hidden;
}

