:root{
    --main-yellow: #E79E49;
    --secondary-yellow: #FFAE51;
    --main-green: lime;
    --secondary-green: #1FE11F;
    --main-red: red;
    --secondary-red: #E11F1F;
    --border-color: lightgray;
    --blue-primary: #1E88E5;
    --red-primary: #e53935;
    --green-primary: #66bb6a;
    --red-exit: hsl(345deg 100% 47%);
  }

body, html {
    /* background: #1F1F1F; */
    height: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'SevenSegment';
    src: url('../fonts/SevenSegment.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 2928px) { .scoreboard {font-size: 5em;} }
@media (max-width: 2496px) { .scoreboard {font-size: 4.5em;} }
@media (max-width: 2064px) { .scoreboard {font-size: 4em;} }
@media (max-width: 1632px) { .scoreboard {font-size: 3.5em;} }
@media (max-width: 1200px) { .scoreboard {font-size: 3em;} }
@media (max-width: 768px) { .scoreboard {font-size: 2.5em;} }
@media (max-width: 336px) { .scoreboard {font-size: 2em;} }

.score-section{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blue;
}

.scoreboard{
    height: 10vh;
    width: 15vw;
    background-color: black;
    text-align: center;
    align-content: center;
    font-family: 'SevenSegment';
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.main-score {
    color: var(--main-yellow);
    text-shadow: 0 0 15px var(--secondary-yellow);
}

.score-bar{
    width: auto;
    padding: 0 10px;
    padding-bottom: 60vh;
    background-color: red;
    align-content: center;
}

.green-score {
    color: var(--main-green);
    text-shadow: 0 0 15px var(--secondary-green);
}

.red-score {
    color: var(--main-red);
    text-shadow: 0 0 15px var(--secondary-red);
}

.main-section{
    height: 85vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
}

.game-section{
    width: 100%;
    background-color: lime;
    align-content: center;
}

.gameboard{
    width: 100%;
    height: 100%;
    background-color: orange;
    border: 8px solid var(--border-color);
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.question-section {
    width: 100%;
    height: 30%;
    background-color: cyan;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.question-text {
    padding: 0 20px;
    font-size: 1.5rem; 
    line-height: 1.5; 
}

.question-text, .answer-text, .answer-points, .scoreboard {
    user-select: none;
    cursor: default;
}

.answers-section{
    width: 100%;
    height: 70%;
    background-color: blueviolet;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-flow: column;
    grid-template-rows: 23% 23% 23% 23%;
    gap: 10px;
    padding: 10px 15px;
    justify-content: center;
}

.answer-box{
    background-color: yellow;
    width: 100%;
    height: 100%;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.answer-hidden {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.answer-text-box{
    height: 100%;
    width: 100%;
    background-color: palevioletred;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: start; 
    padding-left: 10px; 
    font-size: 1.2rem; 
}

.answer-points-box{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: midnightblue;
    justify-items: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white; 
    font-size: 1.5rem; 
}

.main-section {
    position: relative;
    width: 100vw;
    height: 88vh;
    margin-top: 2vh;
}

.center-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-front {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    text-shadow: unset;
    background: var(--red-exit);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  .blue-button .button-edge {
    background: linear-gradient(
      to left,
      hsl(210deg 77% 21%) 0%,
      hsl(210deg 77% 41%) 8%,
      hsl(210deg 77% 41%) 92%,
      hsl(210deg 77% 21%) 100%
  );
  }
  
  .blue-button .button-front {
    background: var(--blue-primary);
  }
  
  .red-button .button-edge {
    background: linear-gradient(
      to left,
      hsl(4deg 74% 25%) 0%,
      hsl(4deg 74% 45%) 8%,
      hsl(4deg 74% 45%) 92%,
      hsl(4deg 74% 25%) 100%
    );
  }
  
  .red-button .button-front {
    background: var(--red-primary);
  }
  
  .green-button .button-edge {
    background: linear-gradient(
      to left,
      hsl(123deg 42% 26%) 0%,
      hsl(123deg 42% 46%) 8%,
      hsl(123deg 42% 46%) 92%,
      hsl(123deg 42% 26%) 100%
    );
  
  }
  
  .green-button .button-front {
    background: var(--green-primary);
  }
  
  .button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-pushable:hover .button-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-pushable:active .button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-pushable:focus:not(:focus-visible) {
    outline: none;
  }
  
  .button-pushable.pressed .button-front {
    background: var(--gray-dark);
    color: var(--gray-light);
  }
  
  .button-pushable.pressed .button-edge {
    background: linear-gradient(
      to left,
      hsl(0deg 0% 26%) 0%,
      hsl(0deg 0% 46%) 8%,
      hsl(0deg 0% 46%) 92%,
      hsl(0deg 0% 26%) 100%
    );
  }
  
  .button-pushable.pressed {
    pointer-events: none;
    cursor: default;
  }