* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #000, #444);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    gap: 20px;
}

.button {
    display: block;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.button:hover video {
    filter: grayscale(0%);
    transform: scale(1.1);
}